<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Player List</title>
</head>
<body>

<div class="container mt-5">
  <h1>Player List</h1>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Date of birth</th>
      <th>Nationality</th>
      <th>Team</th>
      <th>Team ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
      <td>
        <p th:text="${player.id}"></p>
      </td>
      <td class="player-info-container">
        <img style="width: 90px" class="player-image" th:src="'/static/images/player_'+ ${player.id} +'.png'" onerror="this.src='/static/images/no_image.png';"/>
        <p th:text="${player.name}"></p>
      </td>
      <td>
        <p th:text="${player.position}"></p>
      </td>
      <td>
        <p th:text="${player.date_of_birth}"></p>
      </td>
      <td class="player-info-container">
        <img style="width: 48px" class="player-nationality-image" th:src="'/static/images/Nations/'+ ${player.nationality} +'.png'" onerror="this.src='/static/images/no_image.png';"/>
        <p th:text="${player.nationality}"></p>
      </td>
      <td class="player-info-container">
        <img style="width: 90px" class="player-team-image" th:src="'/static/images/team_'+ ${player.team_id} +'.png'" onerror="this.src='/static/images/no_image.png';"/>
        <p th:text="${player.team_short_name}"></p>
      </td>
      <td>
        <p th:text="${player.team_id}"></p>
      </td>
    </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" th:classappend="${first} ? 'disabled' : ''">
        <a class="page-link" href="#" aria-label="Previous" th:href="@{'?page=' + ${number - 1}}">Previous</a>
      </li>
      <li th:if="${number > 4}"><span>...</span></li>
      <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
          th:if="${i >= number - 2 and i <= number + 2}">
        <a th:href="@{'?page=' + ${i}}" th:text="${i + 1}"
           th:classappend="${number == i} ? 'active' : ''"></a>
      </li>
      <li th:if="${number < totalPages - 5}"><span>...</span></li>
      <li class="page-item" th:classappend="${last} ? 'disabled' : ''">
        <a class="page-link" href="#" aria-label="Next" th:href="@{'?page=' + ${number + 1}}">Next</a>
      </li>
    </ul>
  </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
